01/REST_Sample/REST_Sample/bin
01/REST_Sample/REST_Sample/obj
03 - Motorcycles/Solution.Core/obj
03 - Motorcycles/Solution.DataBase/obj
03 - Motorcycles/Solution.DesktopApp/obj
03 - Motorcycles/Solution.PdfGenerator/obj
03 - Motorcycles/Solution.Services/obj
03 - Motorcycles/Solution.ValidationLibrary/obj
03 - Motorcycles/Solution.Validators/obj
