01/REST_Sample/REST_Sample/bin
01/REST_Sample/REST_Sample/obj
03 - Motorcycles/Solution.Core/obj
03 - Motorcycles/Solution.DataBase/obj
03 - Motorcycles/Solution.DesktopApp/obj
03 - Motorcycles/Solution.PdfGenerator/obj
03 - Motorcycles/Solution.Services/obj
03 - Motorcycles/Solution.ValidationLibrary/obj
03 - Motorcycles/Solution.Validators/obj
03 - Motorcycles/Solution.Core/bin
03 - Motorcycles/Solution.DataBase/bin
03 - Motorcycles/Solution.DesktopApp/bin
03 - Motorcycles/Solution.PdfGenerator/bin
03 - Motorcycles/Solution.Services/bin
03 - Motorcycles/Solution.Validators/bin
01.1_SajatFeladat/01.1_SajatFeladat/bin
03 - Motorcycles/Solution.Api/bin
03 - Motorcycles/Solution.Api/obj
04 - Konyvek/Konyvek/Konyvek/bin
04 - Konyvek/Konyvek/Konyvek/obj
06 - Roplabda/Roplabda/Roplabda/bin
13 - Snooker/Snooker/Snooker/bin
06 - Roplabda/Roplabda/Roplabda/obj
13 - Snooker/Snooker/Snooker/obj
04 - Konyvek/Konyvek/Konyvek/obj
00 - Base/Solution.Api/obj
00 - Base/Solution.Core/bin
00 - Base/Solution.Database/bin
00 - Base/Solution.DesktopApp/bin
00 - Base/Solution.Core/obj
00 - Base/Solution.Database/obj
00 - Base/Solution.DesktopApp/obj
00 - Base/Solution.PdfGenerator/bin
00 - Base/Solution.Services/bin
00 - Base/Solution.Services/obj
00 - Base/Solution.PdfGenerator/obj
00 - Base/Solution.ValidationLibrary/bin
00 - Base/Solution.Validators/obj
00 - Base/Solution.ValidationLibrary/obj
00 - Base/Solution.Api/bin
00 - Base/Solution.Validators/bin
04 - Bills/Solution.Api/obj
04 - Bills/Solution.Core/obj
04 - Bills/Solution.Database/obj
04 - Bills/Solution.DesktopApp/bin
04 - Bills/Solution.PdfGenerator/obj
04 - Bills/Solution.Services/obj
04 - Bills/Solution.ValidationLibrary/bin
17 - IO feladatok/11 - NB1/NB1/NB1/bin
17 - IO feladatok/11 - NB1/NB1/NB1/obj
04 - Bills/Solution.DesktopApp/obj
04 - Bills/Solution.ValidationLibrary/obj
04 - Bills/Solution.Api/bin
04 - Bills/Solution.Core/bin
04 - Bills/Solution.Database/bin
04 - Bills/Solution.PdfGenerator/bin
04 - Bills/Solution.Services/bin
17 - IO feladatok/12 - EU tagallamok/EU_Tagallamok/EU_Tagallamok/bin
17 - IO feladatok/12 - EU tagallamok/EU_Tagallamok/EU_Tagallamok/obj
